* {
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
box-sizing: border-box;
}

.flex {
display: flex;
 }

.ul {
list-style: none;
margin: 0;
padding: 0;
}

.headline-container {
height: 60vh;
width: 100vw;
}

.logo {
width: 80px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
color: #6070FF;
flex: none;
order: 0;
text-decoration: none;
flex-grow: 0;
}

.menu {
max-width: 40px;
padding-left: 65%;
padding-top: 4%;
}

html {
    background: #e5e5e5;
  }

#background {
position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
background: #FFFFFF;
}

body {
overflow-x: hidden;
background-color: #f7f7f9;
height: 100%;
}

#header {
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: white;
}

.logo-placeholder {
padding: 10px 12px;
}

.logo {
font-family: "Poppins", sans-serif;
font-style: normal;
max-height: 5%;
width: 90px;
padding-top: 2vh;
padding-left: 5%;
margin-bottom: 0;
display: flex;
align-items: center;
text-align: center;
color: #6070FF;
justify-content: space-between;
flex: none;
order: 0;
flex-grow: 0;
}

.menu {
padding: 8px;
}

.title {
font-family: "Poppins", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
text-align: left;
line-height: 52px;
display: flex;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
width: 10ch;
padding-left: 24px;
padding-top: 30px;
margin-bottom: 20px;
}

.description {
font-family: 'Poppins';
font-style: normal;
font-size: 16px;
line-height: 24px;
margin-left: 0;
margin-right: 24px;
margin-top: 0;
padding-left: 24px;
color: #344563;
margin: 0.8rem 0;
}

.connect-us {
padding-left: 24px;
font-weight: 700;
line-height: 20px;
text-transform: uppercase;
text-decoration: none;
color: #7f8cff;
}

.icons_ul ul flex{
display: flex;
align-items: center;
padding-left: 8.5%;
}

.social-media {
display: flex;
margin: 1.3rem 0 1rem;
align-items: center;
width: 11rem;
}

.icons_li {
display: flex;
margin-left: 26px;
margin-bottom: 20px;
}