/* Import "Poppins" font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Main */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primaryColor: #6070ff;
  --headingtextColor: #172b4d;
  --bodyTextColor: #344563;
  --backgroundColor: #f7f7f9;
}

body {
  background-color: #f7f7f9;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

.small {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: none;
}

button:enabled {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: none;
}

button:hover {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffff;
  background: #6070ff;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
  padding: 12px;
}

button:active {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  color: var(--headingtextColor);
  margin-top: 100px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Mobile website mode */
@media screen and (min-width: 375px) {
  #part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 4px;
  }

  .logo-placeholder {
    padding: 10px 12px;
    margin-left: 12px;
  }

  .logo {
    color: var(--primaryColor);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
  }

  #Menu {
    display: none;
  }

  .menu {
    padding: 8px;
    width: 24px;
    height: 24px;
    margin-right: 24px;
    cursor: pointer;
  }

  .material-symbols-outlined {
    color: var(--primaryColor);
  }

  /* Homepage */
  #introduction {
    padding-top: 2rem;
    min-height: 113vh;
    height: calc(100vh - 48px);
    background-color: white;
    display: flex;
    background-image: url("./images/background-image.svg");
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    border-radius: 15px;
  }

  .headline {
    width: 327px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    padding-bottom: 30px;
  }

  .connect {
    font-weight: 500;
    text-transform: uppercase;
    color: #7f8cff;
    cursor: pointer;
  }

  .social_icons_ul {
    display: flex;
    cursor: pointer;
    margin: 1.3rem 0 1rem;
    align-items: center;
    justify-content: space-between;
    width: 13rem;
  }

  .social_icons_link img {
    transition: transform 0.5s;
  }

  .social_icons_link img:hover {
    transform: scale(1.5);
  }
}

/* My Works */
#works {
  display: grid;
  padding: 114px 24px;
  gap: 88px;

  .works_card {
    display: grid;
    padding: 16px;
    grid-gap: 12px;
    background: white;
    border: 1px solid #def1e6;
    border-radius: 16px;

    .snapshoot_portpolio {
      width: 295px;
      height: 220px;
      background: url(./images/SnapshootPortfolio.svg);
      border-radius: 8px;
    }

    .works_card_detail {
      display: grid;
      grid-gap: 12px;
      width: 100%;

      .works_card_title {
        display: grid;
        align-items: start;

        .works_card_history {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          justify-content: start;
          gap: 6px;

          .works_card_history_detail {
            padding: 8px 0.2px;
          }
        }
      }

      .works_card_tags {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;
        gap: 8px;

        .tag_work {
          padding: 4px 12px;
          background: #ebebff;
          border-radius: 8px;
        }
      }
    }
  }
}

/* About Myself */
#about {
  display: grid;
  padding: 114px 24px;
  gap: 24px;
  background: white;
  border-radius: 0 5rem 0 0;

  .about_myself {
    display: grid;
    grid-gap: 12px;

    .lets_connect {
      color: var(--primaryColor);
    }

    .social_icons {
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      gap: 1rem;

      .icons {
        width: 24px;
        height: 24px;
      }
    }
  }

  .myskills {
    width: 100%;
    display: grid;
    align-items: center;

    .languages {
      width: 100%;
      display: grid;
      align-items: center;

      .lan_head {
        width: 100%;
        grid-auto-flow: column;
        justify-content: space-between;
        display: grid;
        padding: 1rem 0.1px;
        align-items: center;
      }

      .lan_list {
        display: grid;
        align-items: center;
        gap: 12px;
        width: 100%;

        .lan_list_detail {
          display: grid;
          align-items: center;
          width: 100%;
          grid-auto-flow: column;
          justify-content: start;
          padding: 8px 0.1px;
          background: #f7f7f9;
          border-radius: 8px;
          gap: 1rem;

          .list_img {
            padding-left: 10px;
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}

/* Contact Me */
#contact {
  background-color: var(--primaryColor);
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  border-top-left-radius: 8rem;
  padding: 8rem 0;
  text-align: center;
  background-image: url(./images/contact_form_shapes-mobile_2x.png);
}

#contact h2 {
  color: #fff;
}

.contact_desc {
  color: #ebebff;
  margin: 1rem 3rem;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  width: 280px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: none;
}

input::placeholder {
  color: #172b4d;
  font-size: 1rem;
  padding: 0 1rem;
}

#message {
  min-width: 280px;
  border-radius: 10px;
  resize: none;
}

#message::placeholder {
  max-width: 327px;
  height: 48px;
  padding: 1rem;
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
}

.form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 6px 6px;
  position: absolute;
  letter-spacing: 0.03em;
  height: 48px;
  left: 48px;
  border: none;
  color: #6070ff;
  background-color: white;
  font-size: 17px;
  line-height: 24px;
  max-width: 142px;
}

/* Desktop web version */
@media only screen and (min-width: 768px) {
  #introduction {
    background-image: url(./images/header-shapes-desktop.png);
    background-size: contain;
  }

  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .works {
    height: 358px;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    max-width: 800px;
    background-color: white;
  }

  .works_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works_img {
    height: 330px;
  }

  .works_card_title {
    margin-left: 2rem;
  }

  .works_card_tags {
    margin-left: 31.5rem;
  }

  .works_card_history_detail {
    text-align: center;
    margin-top: 0;
  }

  .tag_work {
    padding: 8.8rem;
  }

  #about {
    background-image: url(./images/about-myself-background-desktop.png);
    background-size: contain;
  }

  .about-me {
    display: flex;
    position: relative;
  }

  .about_myself {
    display: flex;
    padding: 7.125rem;
  }

  #contact {
    background-image: url(./images/contact-form-desktop-shapes-background.png);
    background-size: contain;
  }
}
